
@font-face {
	font-family: 'Comfortaa';
	src: url('fonts/Comfortaa-Regular.woff2') format('woff2') url('fonts/Comfortaa-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Comfortaa';
	src: url('fonts/Comfortaa-SemiBold.woff2') format('woff2') url('fonts/Comfortaa-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

body{
    display:flex;
    flex-direction: column;
    background-color: white;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    color:rgb(243, 255, 255);
    box-sizing: border-box;
}
main{
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:20px 30px;
}
section{
    max-width:600px;
    min-height:400px;
    border-radius: 15px;
    margin-bottom: 20px;
    width:100%;
    margin:20px auto;
}
p{
    text-align: center;
}
.about-cards{
    background-color: #81BECE;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.advantages{
    background-color: #378BA4;
}
.how-look{
    background-color: #036280;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.feedback{
    background-color: #012E4A;
    position:relative;
}
.site-title{
    align-items: center;
    font-weight: 600;
}
.about{
    display:flex;
    margin:20px;
    gap:10px;
    flex-wrap:wrap;
}
.cards-ex{
    margin:0 auto;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:20px;
    gap:20px;
    height:100%;
    width:auto;
    max-width: 560px;
    min-width: 242px;
}
.photo{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.text-how-look{
    text-align: center;
    font-weight:600;
    font-size: 20px;
}
.feedback-title{
    text-align: center;
    margin-bottom: 50px;
}
.contact-form{
    display:flex;
    flex-direction: column;
    margin:20px;
    gap:20px;
}
.pole{
    box-sizing: border-box;
    padding:5px;
    border-radius: 5px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    height:40px;
    font-size: 20px;
}
.pole.text{
    height:100px;
}
.btn-submit{
    width:150px;
    margin:0 auto;
    background-color: white;
    border:0;
    border-radius: 5px;
    height:50px;
    min-width: 138px;
}
.disclaimer{
    font-size:5px;
    margin-left:20px;
    position:absolute;
    top:0;
    left:0;
}
.adv-title{
    text-align: center;
    font-weight: 400;
}
.adv-text{
    display:flex;
}